node_modules
.build
.github
.serverless
.vscode
coverage
docs
internal
migrations
docker-compose.yml
Dockerfile
testdata
!.env*
!resources
!src
!package.json
!yarn.lock
!webpack.config.js
!serverless.yml
!jest.config.js
!.jest
!.babelrc
!config.js
!.dynamodb
!.git
